<div class="side-menu">
  <app-game-plan> </app-game-plan>
  <div class="logo-wrap">
    <img class="logo" src="assets/imgs/icon_Logo.png" />
  </div>

  <div class="button1">
    <img class="icon" src="assets/imgs/icons/dashboard_icon.png" />
    <h4 class="side-text">Dashboard</h4>
  </div>

  <div class="button2">
    <div class="marker"></div>

    <img class="icon-sel" src="assets/imgs/icons/gameplan_icon.png" />
    <h4 class="side-text-sel">Game Plan</h4>
  </div>

  <div class="button3">
    <img class="icon" src="assets/imgs/icons/levels_icon.png" />
    <h4 class="side-text">Levels</h4>
  </div>

  <div class="profile" (click)="onClickMe()">
    <div class="avatar">
      <img class="avatar-img" src="assets/imgs/icons/avatar.png" />
    </div>

    <p class="greetings">Hello, Anne!</p>
    <span class="settings">Account Settings</span>
  </div>
</div>
